*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #ededed;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;
}
#left-top-left{
     /* background-color: rgb(125, 113, 97); */
    padding: 40px;
}
#square{
    height: 25px;
    width: 25px;
    background-color: black;
    rotate: 45deg;
}
#left-top-right{
    /* background-color: blue; */
    padding: 40px;
    text-align: right;
    justify-self: right;
}
#left-top-right h4{
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
}
#left-top-right h5{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
#left-top-right h6{
    display: none;
}

#left-centre{
    /* background-color: aqua; */
    grid-column: 1/3;
    padding: 30px;
}
#left-centre h1{
    font-size: 5.5vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 6vw;
}
#left-centre h1:nth-child(2n){
    text-align: center;
}
#left-bottom{
    /* background-color: rgb(226, 148, 135); */
    grid-column: 1/3;
    padding: 30px 20px;
}
#left-bottom p{
    width: 70%; 
    font-size: 18px;
    font-weight: 500;
    color: #666;  
}
#right{
    /* background-color: darkgreen; */
    grid-row: 1/4;
    grid-column: 3;
    padding: 40px;
}
#right video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 3px;
}
#arrow{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: orangered;
    color: #fff;
    border-radius: 50%;
    top: 50%;
    left: 52%;
    transform: translate(-50%,-50%);
}
#arrow i{
    font-size: 40px;
    font-weight: 100;
}

@media (max-width:600px) {
    #main{
        grid-template-columns: 50% 50%;
        grid-template-rows: 60px 34% 8%;
    }
    #left-top-left{
       padding: 20px;
   }
   #square{
       height: 15px;
       width: 15px;
   }
   #left-top-right{
       padding: 20px;
       text-align: right;
       justify-self: right;
   }
   #left-top-right h4{
       display: none;
   }
   #left-top-right h5{
       display: none;
   }
   #left-top-right h6{
    display: initial;
    font-size: 20px;
   }
   
   #left-centre{
       padding: 10px 20px;
   }
   #left-centre h1{
       font-size: 12vw;
       line-height: 15vw;
   }
   #left-centre h1:nth-child(2n){
       text-align: right;
   }
   #left-bottom{  
       padding: 25px 20px;
   }
   #left-bottom p{
       width: 90%;
       font-size: 10px;
        font-weight: 500;
        color: #666;  
   }
   #right video{
       height: 55vh;
       width: 100%;
   }
   #arrow{
       padding: 10px;
       top: 54%;
       left: 50%;
       transform: translate(-50%,-50%) rotate(90deg);
   }
   #arrow i{
       font-size: 20px;
       font-weight: 100;
   }
   
    #right{
        /* background-color: rgb(0, 235, 0); */
        grid-row: 4;
        grid-column: 1/4;
        padding: 20px;
    }
}


